* {
  min-height: 0;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 20px;
  font-weight: 500;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #000;
  background-color: #fff;
}

#workspaces button.active {
  color: #fff;
  background-color: #000;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#cpu,
#tray,
#memory,
#window {
  min-height: 0;
  padding: 2px 10px;
  border-radius: 8px;
  margin: 4px 4px;
  background-color: #000;
}
#battery {
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}
#network {
  border-radius: 8px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  background-color: #000;
  color: #fff;
}
#backlight {
  border-radius: 8px;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  background-color: #000;
  color: #fff;
}
#custom-sep {
  padding: 0px;
  color: #585b70;
}

#custom-spotify.playing {
  color: #cdd6f4;
}

#custom-spotify.liked {
  color: #f9e2af;
}
#custom-spotify.added {
  color: #cba6f7;
}

#custom-spotify.removed {
  color: #f38ba8;
}

#custom-spotify.paused {
  color: #9399b2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #fff;
}

#memory {
  color: #fff;
}

#clock {
  color: #fff;
}

#clock.simpleclock {
  color: #fff;
}

#window {
  color: #fff;
}

#pulseaudio {
  color: #fff;
}

#pulseaudio.muted {
  color: #fff;
}

#custom-logo {
  color: #fff;
}

#custom-power {
  color: #fff;
  padding-right: 5px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  border-radius: 8px;
}
